.grid {
	margin:25px auto;
	position:relative;
	width:450px;
	height:450px;
}

.grid div {
	position:absolute;
	width:50px;
	height:50px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

.grid div:before {
	content:"";
	position:absolute;
	top:5px;
	left:5px;
	width:36px;
	height:36px;
	box-sizing:border-box;
	border-radius:100px;
}

.next-balls {
	width:120px;
	height:40px;
	margin:0 auto;
}

.next-balls div {
	position:relative;
	width:40px;
	height:40px;
	float:left;
}

.next-balls div:before {
	content:"";
	position:absolute;
	top:5px;
	left:5px;
	width:30px;
	height:30px;
	border-radius:100px;
}


.empty:before {
	background:transparent;
}

.red:before {
	background: red;
}

.orange:before {
	background: orange;
}

.yellow:before {
	background: yellow;
}

.green:before {
	background: green;
}

.blue:before {
	background: blue;
}

.lightblue:before {
	background: lightblue;
}

.indigo:before {
	background: indigo;
}

.ball.selected:before {
	animation:jump 0.5s;
	animation-iteration-count: infinite;
}

@keyframes jump {
	0% { top:5px; }
	50% { top:10px; }
	100% { top:1px; }
}